.heading{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content:space-evenly;
}
.country{
  width: 25%;
  height: 35px;
}
.state{
  width:20%;
}
.city{
  width:20%;
}
.selected-location{
  position: fixed;
  left:40%;
  margin-top: 15px;
}
.error-message{
  display: inline;
  position: fixed;
  left:30%;
}